.container {
    margin-top: 2rem;
}

.form {
    max-width: 800px;
    margin: auto;
}

.form input {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    padding: .4rem;
    font-size: 1.2rem;
}

.btn,
.btn2 {
    display: block;
    width: 100%;
    background: #333333;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

.btn2 {
    background: #f4f4f4;
    color: #333;
    margin: 1rem 0 2rem;
}

.btn:hover,
.btn2:hover {
    opacity: 0.8;
}